doctype
html
  head
    title Raspberry Pi Interface
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel='stylesheet', href="/css/interface.css")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/js/interface.js")
  body
    .container
      h1 Ultrasonic Sensor
      h3 gamma - 192.168.1.202
      .row.voffset
        .col-md-6
          div#tempLM36 Temperature: